<header class="header">
  <div class="header-content">
    <h1>{{ header_title}}</h1>
    <div class="header-buttons">
      <a href="" class="header-button personal-diary-img" title="Личный дневник"></a>
      <a href="" class="header-button garden-care-img" title="Уход за огородом"></a>
      <a href="" class="header-button recommendations-img" title="Рекомендации"></a>
      <a href="" class="header-button news-img" title="Новости"></a>
      <a href="" class="header-button statistics-img" title="Статистика"></a>
      <a href="{{ url_for('main_bp.home') }}" class="header-button profile-img" title="Профиль"></a> 
    </div>
  </div>
</header>