{% extends "base.html" %}

{% block title %}Огородник — Профиль{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile_style.css') }}">

<div class="profile-container">
  <div class="profile-menu">
    <a class="personal-diary" href="{{ url_for('diary_bp.entries') }}">Личный дневник</a>
    <a class="my-sites" href="{{ url_for('land_bp.gardens') }}">Мои участки</a>
    <a class="garden-care" href="{{ url_for('care_bp.list_care_logs') }}">Уход за грядками</a>
    <a class="recommendations" href="{{ url_for('recommendation_bp.list_recommendations') }}">Рекомендации</a>
    <a class="news" href="">Новости</a>
    <a class="statistics" href="">Статистика</a>
  </div>

  <div class="profile">
    <div class="profile-info">
      <div class="profile-card">
        <div class="avatar">
          {% if current_user.photo_path %}
            <img class="avatar-img" src="{{ url_for('static', filename=current_user.photo_path) }}" alt="Аватарка">
          {% else %}
            <img class="avatar-img" src="{{ url_for('static', filename='icons/default-avatar.jpg') }}" alt="Аватарка">
          {% endif %}
        </div>
        <div class="name-container">
          <span class="name-text">{{ current_user.name }}</span>
          <label for="name"></label>
          <input type="text" class="name-input" id="name" value="{{ current_user.name }}" style="display: none;">
          <button class="edit-name-button"></button>
        </div>
      </div>

      <div class="profile-edit">
        <div class="profile-creation-date">Создан {{ current_user.created_at.strftime('%d/%m/%Y %H:%M') }}</div>
        <div class="profile-edit-date">Ред. {{ current_user.updated_at.strftime('%d/%m/%Y %H:%M') }}</div>
      </div>
    </div>

    <div class="profile-actions">
      <a class="export-data" href="">Экспортировать данные</a>
      <a class="import-data" href="">Импортировать данные</a>
      <a class="exit" href="{{ url_for('auth_bp.logout') }}">Выход из профиля</a>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='scripts/profile_script.js') }}"></script>
{% endblock %}
