{% extends "base.html" %}

{% block title %}Огородник — Профиль{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/profile_style.css">

<div class="profile-container">
  <div class="profile-menu">
    <a class="personal-diary" href="">Личный дневник</a>
    <a class="my-sites" href="{{ url_for('land_bp.gardens') }}">Мои участки</a>
    <a class="garden-care" href="">Уход за грядками</a>
    <a class="recommendations" href="">Рекомендации</a>
    <a class="news" href="">Новости</a>
    <a class="statistics" href="">Статистика</a>
  </div>

  <div class="profile">
    <div class="profile-info">
      <div class="profile-card">
        <div class="avatar">
          <img class="avatar-img" src="https://img.freepik.com/free-photo/selective-focus-black-white-adorable-cat-with-its-tongue-out_181624-35744.jpg" alt="Аватарка">
        </div>
        <div class="name-container">
          <span class="name-text">Имя</span>
          <label for="name"></label>
          <input type="text" class="name-input" id="name" style="display: none;">
          <button class="edit-name-button"></button>
        </div>
      </div>

      <div class="profile-edit">
        <div class="profile-creation-date">Создан 01/03/2024 14:00</div>
        <div class="profile-edit-date">Ред. 02/03/2024 9:25</div>
      </div>
    </div>

    <div class="profile-actions">
      <a class="export-data" href="">Экспортировать данные</a>
      <a class="import-data" href="">Импортировать данные</a>
      <a class="exit" href="{{ url_for('auth_bp.logout') }}">Выход из профиля</a>
    </div>
  </div>
</div>

<script src="../static/scripts/profile_script.js"></script>
{% endblock %}
